.no-border {
    border: none !important;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mbt-1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mbt-2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

table.cel50 {
    width: 100%;

    td {
        width: 50%;
    }
}
table.cel33 {
    width: 100%;

    td {
        width: 33%;
    }
}
table.cel25 {
    width: 100%;

    td {
        width: 25%;
    }
}